@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-primary: theme("colors.white");
  --bg-secondary: theme("colors.gray.200");
  --bg-secondary-hover: theme("colors.gray.100");
  --bg-secondary-active: theme("colors.gray.300");
  --bg-accent: theme("colors.blue.600");
  --bg-accent-hover: theme("colors.blue.500");
  --bg-accent-active: theme("colors.blue.700");

  --text-primary: theme("colors.gray.900");
  --text-secondary: theme("colors.blue.600");
  --text-secondary-hover: theme("colors.blue.500");

  --border-color: theme("colors.gray.300");

  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.dark {
  --bg-primary: theme("colors.gray.900");
  --bg-secondary: theme("colors.gray.700");
  --bg-secondary-hover: theme("colors.gray.600");
  --bg-secondary-active: theme("colors.gray.800");
  --bg-accent: theme("colors.blue.400");
  --bg-accent-hover: theme("colors.blue.300");
  --bg-accent-active: theme("colors.blue.500");

  --text-primary: theme("colors.gray.100");
  --text-secondary: theme("colors.blue.500");
  --text-secondary-hover: theme("colors.blue.400");

  --border-color: theme("colors.gray.300");

  color: var(--text-primary);
  background-color: var(--bg-primary);
}
